@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
:root {
  --yellow: #ffa323;
  --grey: #6c757d;
  --black:#141313;
}
.FoodMenu, .Blog{
  background-color: #FAFAFA;
}
p {
  font-size: small;
  margin: 0;
}
.loader{
  display: none;
  z-index: 999999;
  position: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.load{
  position: relative;
  width: 10rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load h3{
 margin: 0;
  color: var(--yellow);
  font-family: "Great Vibes", cursive;
  animation: h3 2s ease 0s infinite alternate;
}
@keyframes h3 {
  from{ transform: scale(0.6);}
  to{transform: scale(1);}
}
.load .line-1{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0%;
  width: 2%;
  background-color: var(--yellow);
  animation: line1 2s ease 0s infinite alternate;
}
@keyframes line1 {
  from{height: 0%;}
  to{height: 100%;}
}
.load .line-2{
  position: absolute;
  left: 0;
  top: 0;
  height: 3%;
  width: 0%;
  background-color: var(--yellow);
  animation: line2 2s ease 0s  infinite alternate;
}
@keyframes line2 {
  from{width: 0%;}
  to{width: 100%;}
}
.load .line-3{
  position: absolute;
  right: 0;
  top: 0;
  height: 0%;
  width: 2%;
  background-color: var(--yellow);
  animation: line3 2s ease 0s infinite alternate ;
}
@keyframes line3 {
  from{height: 0%;}
  to{height: 100%;}
}
.load .line-4{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3%;
  width: 0%;
  background-color: var(--yellow);
  animation: line4 2s ease 0s infinite alternate ;
}
@keyframes line4 {
  from{width: 0%;}
  to{width: 100%;}
}
.loader svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
  stroke-dashoffset: 1000px;
  stroke-dasharray: 1000px;
}
.Navigation {
  position: fixed;
  z-index: 99999;
}
.Navigation .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navigation .logo h2 {
  color: var(--yellow);
  font-weight: 500;
  font-family: "Great Vibes", cursive;
  margin: 0;
}
.Navigation .logo i {
  color: var(--yellow);
  color: white;
  display: none;
}
.Navigation a {
  text-decoration: none;
  color: white;
  font-size: small;
}
.Navigation .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Navigation .nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.Navigation .nav-links ul li {
  display: block;
  padding: 0.7rem;
}
.Navigation .order {
  color: white !important;
  font-size: small;
  padding: 0.7rem;
  text-decoration: none;
  border-radius: 2px;
  background-color: var(--yellow);
  text-align: center;
}

.Home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Home video {
  width: 100%;
  z-index: -1;
}
.Home .home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home-text h1 {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2rem;
}
.home-text h2 {
  color: var(--yellow);
  font-weight: 500;
  font-size: 4rem;
  font-family: "Great Vibes", cursive;
}
.Home .layer {
  position: absolute;
  top: 0;
  /* z-index: 9999; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.618);
}
.Home .home-text .home-btn a {
  color: white;
  font-size: small;
  padding: 0.7rem;
  text-decoration: none;
  border-radius: 2px;
}
.home-text .home-btn .order {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
}
.home-text .home-btn .menu {
  border: 1px solid white;
}

.Breakfast .Breakfast-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.Breakfast .Breakfast-card img {
  width: 6rem;
  height: auto;
  border-radius: 50%;
}
.Breakfast .Breakfast-card .p {
  font-size: 0.7rem;
}
.About .about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.About .about-img .aboutimg {
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.About .about-img .img1 {
  background-image: url("../Images/About/about.jpg");
}
.About .about-img .img2 {
  background-image: url("../Images/About/about-1.webp");
}
.About .about-text {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  padding-left: 3rem;
}
.About .about-text h2 {
  font-family: "Great Vibes", cursive;
  color: var(--yellow);
  font-size: 4rem;
}
.About .about-text h3 {
  font-weight: bold;
  margin-top: -2.5rem;
}
.About .about-text p {
  color: var(--grey);
  line-height: 1.5rem;
}
.About .order {
  color: white;
  font-size: small;
  padding: 0.7rem;
  text-decoration: none;
  border-radius: 2px;
  background-color: var(--yellow);
  text-align: center;
}
.About a{
  color: white;
}
.Counter{
  height: 60vh;
  background-image:linear-gradient(to left, rgba(0, 0, 0, 0.614),rgba(0, 0, 0, 0.614)),url('../Images/Home/bg-1.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Counter-card{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
}
.Counter .highlight h3{
  color: var(--yellow);
}

.Services .Services-head, .Chief .Chief-head,.Blog .Blog-head ,.Testimony .Testimony-head,.FoodMenu .FoodMenu-head{
  text-align: center;
}
.Services .Services-head h2,.Chief .Chief-head h2, .Blog .Blog-head h2 ,.Testimony .Testimony-head h2,.FoodMenu .FoodMenu-head h2{
  font-family: "Great Vibes", cursive;
  color: var(--yellow);
  font-size: 4rem;
}
.Services .Services-head h3,.Chief .Chief-head h3, .Blog .Blog-head h3 ,.Testimony .Testimony-head h3,.FoodMenu .FoodMenu-head h3{
  font-weight: bold;
  margin-top: -2.5rem;
}
.Services .Services-card,.Chief .Chief-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Services .Services-card{
  align-items: center;
  text-align: center;
  
}
.Chief .Chief-card{
  align-items: flex-start;
}

.Services-card .Services-circle img,.Chief-card .Chief-circle img{
  width: 3.5rem;
  height: auto;
}
.Chief-card .Chief-circle img{
  border-radius: 15px;
}
.Services .Services-card h6,.Chief .Chief-card h6{
  color: black;
  font-weight: 500;
}
.Chief .Chief-card h6{
  margin-bottom: 0.2rem;
}
.Services .Services-card p,.Chief .Chief-card p{
  color: var(--grey);
}
.Chief .Chief-card .social-media a{
  display: inline-block;
  color: var(--yellow);
  margin-top: 0.5rem;
  padding-right: 0.5rem;
}
.Book{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../Images/Home/bg-4.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.Book .Book-text{
  background-color: white;
}
.Book .Book-head{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Book .Book-head h2{
  font-family: "Great Vibes", cursive;
  color: var(--yellow);
  font-size: 4rem;
}
.Book .Book-head h3{
  font-weight: bold;
  margin-top: -2.5rem;
}
.Book form label{
  font-size: small;
  font-weight: 500;
}
.Book form input::placeholder{
  font-size: small;
}
.Book form input[type="date"],.Book form input[type="time"],.Book form select{
  font-size: small;
  color: var(--grey);
}
.Book form button {
  border: none;
  outline: none;
  color: white;
  font-size: small;
  padding: 0.7rem;
  text-decoration: none;
  border-radius: 2px;
  background-color: var(--yellow);
  text-align: center;
}
.Blog .Blog-card .card{
  border: none;
  border-radius: 0;
}
.Blog-card .card .card-img-top{
  border-radius: 0;
  height: 35vh;
}
.Blog-card .card .card-body p{
  font-size: small;
  color: var(--grey);
}
.Blog-card .card .card-body h6{
  color: var(--black);
  font-weight: 600;
}
.Blog-card .card .blogcard-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Blog-card .card .blogcard-bottom a{
  font-size: small;
  color: var(--grey);
  text-decoration: none;
}

.Insta .insta{
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Insta .insta-1{
  background-image: url('../Images/Insta/insta-1.webp');
}
.Insta .insta-2{
  background-image: url('../Images/Insta/insta-2.webp');
}
.Insta .insta-3{
  background-image: url('../Images/Insta/insta-3.webp');
}
.Insta .insta-4{
  background-image: url('../Images/Insta/insta-4.webp');
}
footer{
  background-color: var(--black);
}
footer ul{
  margin: 0;
  padding: 0;
}
footer h6{
  
  font-weight: 600;
  color: white;
}
footer ul li{
  list-style: none;
  font-size: 0.7rem;
  color: var(--grey);
}
footer  .social-media a{
  padding-right: 1rem;
  font-size: 0.8rem;
  color: var(--grey);
}
footer .openhrs li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerinsta{
  height: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
footer .insta-1{
  background-image: url('../Images/Insta/insta-1.webp');
}
footer .insta-2{
  background-image: url('../Images/Insta/insta-2.webp');
}
footer .insta-3{
  background-image: url('../Images/Insta/insta-3.webp');
}
footer .insta-4{
  background-image: url('../Images/Insta/insta-4.webp');
}
footer .insta-5{
  background-image: url('../Images/Insta/insta-5.webp');
}
footer .insta-6{
  background-image: url('../Images/Insta/insta-1.webp');
}
footer .footerbtn{
  /* border-radius: 0; */
  background-color: var(--yellow);
  color: white;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  font-size: 0.8rem;
}
footer input::placeholder{
  font-size: 0.8rem;
}
footer .lowerfooter p {
  color: white;
  font-size: 0.8rem;
}
footer .lowerfooter span{
  color: var(--yellow);
}