.swiper {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  .swiper-slide {
    text-align: center;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
}
.swiper-slide img{
    border-radius: 50%;
    width: 7rem;
}
.swiper-slide i{
    color: var(--yellow);
    font-size: 2rem;
    font-weight: bold;
    margin-top: -5%;
}

.swiper-slide p{
    color: var(--grey);
}
.swiper-pagination-bullet-active{
    background-color: var(--yellow);
}
